<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header bg-primary text-light">
        <h2 class="card-title">{{ pageTitle }}</h2>
      </div>
      <div class="card-body">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label-sm">Search</label>
          <div class="col-sm-10">
            <input [(ngModel)]="listFilter" type="text" class="form-control form-control-sm col-md-4">
          </div>
        </div>
      </div>
      <div *ngIf="listFilter" class="card-body">
        <h3 class="card-subtitle text-muted">Filtered by {{listFilter}}</h3>
      </div>
      <div class="card-body">
        <div class="loader" *ngIf="isBusy">Loading...</div>
        <div class="table-responsive" *ngIf="!isBusy">
          <table class="table table-bordered table-striped" *ngIf="products && products.length">
            <thead class="thead-dark">
              <tr>
                <th>
                  <button (click)="toggleImage()" class="btn btn-outline-light">
                    {{showImage ? 'Hide' : 'Show'}} Image
                  </button>
                </th>
                <th>Product</th>
                <th>Code</th>
                <th>Available</th>
                <th>Price</th>
                <th>Rating</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of filteredProducts">
                <td>
                  <img *ngIf="showImage" [style.width.px]="imageWidth" [style.margin.px]="imageMargin" [src]="product.imageUrl" [alt]="product.productName"
                    [title]="product.productName">
                </td>
                <td>
                  <a [routerLink]="['/products',product.productId]">{{product.productName}}</a>
                </td>
                <td>{{product.productCode | lowercase | convertToSpaces:'-'}}</td>
                <td>{{product.releaseDate}}</td>
                <td>{{product.price | currency:'PEN':'symbol':'1.2-2'}}</td>
                <td>
                  <app-star (ratingClicked)="onRatingClicked($event)" [rating]="product.starRating"></app-star>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
