<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h1 class="text-center card-title">Welcome</h1>
      </div>
      <div class="card-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis aliquid eum nam beatae perspiciatis, unde veritatis,
          exercitationem nostrum quae vitae consequatur ullam ab labore! Quia eum ab laborum autem nulla?</p>
        <a class="btn btn-outline-dark" [routerLink]="'/products'">See Products</a>
      </div>
      <div class="card-footer">
        <p>Developed by Victor Roque</p>
        <p>Don't forget visit to
          <a target="_blank" href="https://dhamyc.azurewebsites.net">dhamyc community</a>
        </p>
        <p class="text-muted">Victor Roque &copy; 2018</p>
      </div>
    </div>
  </div>
</div>
